h5 {
    letter-spacing: 0.1em;
    color: black;
}

.footer-container {
    padding-top: 1em;
    background-color: var(--nav-color);
    color: white;
    font-size: 0.6em;
}

.footer-informations {
    display: flex;
    justify-content: space-evenly;
}

.vertical-display {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-url{
    color: white;
    text-decoration: none
}

.footer-url:hover, .footer-url:focus{
    color: var(--dark-torquise);
}