* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

html {
    font-size: 1.5rem;
    color: black;
    font-family: 'Roboto', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: var(--background-color);
}

.icon {
    margin-top: -0.4em;
}

.greetings {
    color: white;
    font-size: 3em;
    margin-left: 1em;
    font-family: monospace;
    color: var(--custom-cyan);
    text-shadow: black 0.1em 0.1em;
}

.information {
    margin-left: 3.1em;
    margin-top: 0.8em;
    color: var(--custom-lavender);
    text-shadow: black 0.1em 0.1em;
}

#welcome {
    visibility: hidden;
    opacity: 0;
    transform: translateY(100px);
    transition: visibility 2s, opacity 2s, transform 1.5s;
}

#img {
    position: absolute;
    top: 7em;
    right: 2em;
    z-index: -1;
    animation: up-down 5s infinite ease;
}