@import url("https://fonts.googleapis.com/css?family=Dosis");
@import url("https://fonts.googleapis.com/css?family=Roboto");

:root {
    --background-color: rgb(33, 37, 43);
    --footer-color: rgb(21, 26, 33);
    --test-color: rgb(83, 87, 92);
    --link-color: rgb(42, 186, 197);
    --light-green: #60d748;
    --dark-torquise: #8ee6ab;
    --geno-green: #64dd6e;
    --creme-green: #bbe071;

    /* Custom Colors from AYU theme ;) */
    --custom-blue: rgb(62, 166, 253);
    --custom-cyan: rgb(149, 230, 203);
    --custom-lavender: rgb(223, 191, 255);
    --custom-green: rgb(212, 254, 127);
    --custom-red: rgb(242, 158, 116);
    --custom-orange: rgb(255, 209, 115);

    /* Dark Theme */
    --dark-blue: rgb(31, 36, 48);
    --shadow: rgb(46, 77, 112);
    --grey: rgb(107, 121, 139)
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

html {
    font-size: 1.5rem;
    color: black;
    font-family: 'Roboto', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: var(--background-color);
}

.icon {
    margin-top: -0.4em;
}

.greetings {
    color: white;
    font-size: 3em;
    margin-left: 1em;
    font-family: monospace;
    color: var(--custom-cyan);
    text-shadow: black 0.1em 0.1em;
}

.information {
    margin-left: 3.1em;
    margin-top: 0.8em;
    color: var(--custom-lavender);
    text-shadow: black 0.1em 0.1em;
}

#welcome {
    visibility: hidden;
    opacity: 0;
    transform: translateY(100px);
    transition: visibility 2s, opacity 2s, transform 1.5s;
}

#img {
    position: absolute;
    top: 7em;
    right: 2em;
    z-index: -1;
    animation: up-down 5s infinite ease;
}