.icon-gsx {
    position: absolute;
    top: -0.4em;
    left: 1em;
    width: 5em;
}

.navbar {
    background-color: var(--dark-blue);
}

.navlist {
    display: flex;
    gap: 1em;
    justify-content: flex-end;
    list-style-type: none;
    margin-top: -0.3em;
    padding: 1em;
    position: relative;
    overflow-y: hidden;
}

.navitem {
    display: inline-block;
    padding: 0.5em;
    color: white;
    border: 2px solid white;
    border-radius: 8px;
    background-image: linear-gradient(var(--shadow), var(--shadow));
    background-repeat: no-repeat;
    transition: background-size .5s, color .5s, border-color .3s;
    cursor: pointer;
}

.navitem:hover{
    background-size: 100% 100%;
    color: black;
    border-color: green
}

.userprofile{
    margin-right: auto;
    border: none;
}

.userprofile>*{
    color: white;
    text-decoration: none;
}

.link{
    color: inherit;
    text-decoration: none
}