* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

html {
    font-size: 1.5rem;
    color: black;
    font-family: 'Roboto', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: var(--background-color);
}

main {
    width: fit-content;
    padding: 3em;
    margin: 0 auto;
}

.game-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: content;
    gap: 2em;
    padding: 1em;
    overflow-y: hidden;
}


.game-card {
    visibility: hidden;
    opacity: 0;
}

.game-card{
    border: 3px solid black;
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, var(--card-color2), var(--card-color1));
    padding-bottom: 1em;
    color: white;
    overflow-y: hidden;
    transition: transform 500ms, color 300ms, visibility 2s, opacity 2s;
    /* background-image: linear-gradient(to bottom right, red, coral); */
}

.game-card:hover{
    transform: scale(1.1);
    cursor: pointer;
    background-image: linear-gradient(to bottom right, var(--card-color1), var(--card-color2));
}

.game-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-title {
    color: inherit;
    font-size: 0.7em;
    margin: 0 auto;
}

#mobile:hover {
    color: var(--custom-blue);
    cursor: pointer;
}

#valorant:hover {
    color: #e74e50;
    cursor: pointer;
}

#PUBG:hover {
    color: var(--custom-orange);
    cursor: pointer;
}

#roblox:hover {
    color: var(--custom-cyan);
    cursor: pointer;
}

#genshin:hover {
    color: var(--custom-lavender);
    cursor: pointer;
}

#free-fire:hover {
    color: var(--geno-green);
    cursor: pointer;
}