* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

html {
    font-size: 1.5rem;
    color: aliceblue;
    font-family: 'Roboto', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: var(--background-color);
}



h1 {
    transition: opacity 200ms, visibility 200ms;
}

.receipt {
    padding: 1em;
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, lightblue, aliceblue);;
    color: black;
    width: 45ch;
    transition: opacity 200ms, visibility 200ms;
    visibility: hidden;
    opacity: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

#copybutton {
    font-size: 0.6em;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    color: white;
    background-image: linear-gradient(to top right, green, lime);
    transition: transform 200ms;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 1em;
    padding-top: 1em
}

#copybutton:hover, #copybutton:focus {
    cursor: pointer;
    transform: scale(1.1);
}